/* ==========================================================================
 My Stuff
 ========================================================================== */
.form-input {
  display: inline-block;
  width: 100%;
  padding: 0.25em;
  margin-bottom: 0.5em;
  color: #494e52;
  background-color: #fff;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  font-family: var(--body-font); /* Match your site's font */
  font-size: 1.125rem; /* Match your site's font size */
}

.form-submit {
  background-color: #007bff; /* Primary color for the button */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding for size */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  width: 100%; /* Make button full-width */
}

.form-submit:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.form-input:focus {
  border-color: #7a8288;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(73, 78, 82, 0.06), 0 0 5px rgba(122, 130, 136, 0.7);
}
